@*
  * @file: Contact.cshtml
  * @website: Ajiji Sushi
  * @author: Siqian Yu, Fei Wang
  * @date: July 30, 2016
  * @description: This is the Contact View which gives location and contact info of our restaurant
*@

@{
    ViewBag.Title = "Contact";
}

<div class="row">
    <div class="col-sm-6 col-md-4">
        <h2>@ViewBag.Message</h2>
        <address>
            411 Bayfield St.<br />
            Barrie, ON L4M 5E5<br />
            <abbr title="Phone">P:</abbr>
            +1 705-555-1100
        </address>
        <h2>Connect Us</h2>
        <div class="social-media">
            <a href="#"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="co-sm-12 co-md-8">
        <img src="~/Assets/images/location.PNG" alt="Our Location" height="350"/>
    </div>
</div>