@*
    * @file: Index.cshtml
    * @website: Ajiji Sushi
    * @author: Siqian Yu, Fei Wang
    * @date: July 30, 2016
    * @description: This is the Home Page
*@

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>A Fine Japanese Food Experience</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Menu</h2>
        <p>
            We offer traditional table seating or, for those on the go, call ahead and we'll have your order ready for you to pick up and carry out.
        </p>
        <p><a class="btn btn-default btn-lg" href="/Menu">Check Our Menu &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Location</h2>
        <p>We are located at Bayfield Street, you won't miss us.</p>
        <br />
        <p><a class="btn btn-default btn-lg" href="/Home/Contact">Find Us &raquo;</a></p>
    </div>
</div>