@using COMP2007_S2016_Assignment2_Restaurant.Models
@model Foodtype

@{
    ViewBag.Title = "Browse";
}

<h2>Browsing Genre: @Model.Name</h2>

<ul>
    @foreach (Fooditem fooditem in Model.Fooditems)
    {
        <li>
            @Html.ActionLink(fooditem.Name, "Details", new { id = fooditem.FooditemId })
        </li>
    }
</ul>
