@*
    * @file: Index.cshtml
    * @website: Ajiji Sushi
    * @author: Siqian Yu, Fei Wang
    * @date: July 30, 2016
    * @description: This is the View for Menu Cover Page, which lists four types of food to choose from
*@

@using COMP2007_S2016_Assignment2_Restaurant.Models
@model IEnumerable<Foodtype>

@{
    ViewBag.Title = "Index";
}

<h2>Select Food Type</h2>

<div class="row">
    @foreach (Foodtype item in Model)
    {
        <div class="col-sm-4 col-md-3">
            <div class="thumbnail">
                <img src="@item.FoodtypePicUrl" alt="@item.Name">
                <div class="caption">
                    <h3>@Html.ActionLink(item.Name, "Browse", new { foodtype = item.Name })</h3>  
                </div>
            </div>
        </div>
    }
</div>


