@using COMP2007_S2016_Assignment2_Restaurant.Models
@model IEnumerable<Foodtype>

@{
    ViewBag.Title = "Index";
}

<h3>Select Food Type</h3>
<p>
    Select from @Model.Count()
    food types:
</p>

<div class="row">
    @foreach (Foodtype item in Model)
    {
        <div class="col-sm-4 col-md-3">
            <div class="thumbnail">
                <img src="@item.FoodtypePicUrl" alt="@item.Name">
                <div class="caption">
                    <h3>@Html.ActionLink(item.Name, "Browse", new { foodtype = item.Name })</h3>  
                </div>
            </div>
        </div>
    }
</div>


