@using COMP2007_S2016_Assignment2_Restaurant.Models
@model IEnumerable<Foodtype>

@{
    ViewBag.Title = "Index";
}

<h3>Select Food Type</h3>
<p>
    Select from @Model.Count()
    food types:
</p>
<ul>
    @foreach (Foodtype item in Model)
    {
        <li>@Html.ActionLink(item.Name, "Browse", new { foodtype = item.Name })</li>
    }
</ul>

